/node_modules
/docs
/example
/__test__
/test
.husky
.idea

.git
.gitignore

.env.example
.env

CHANGELOG.md

.prettier.json
.eslintcache
.eslintrc.json
eslint.config.js
.prettier.json
.prettierignore
jest.config.js

.babelrc


